body {
    margin: 0;
}

.card-header {
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
}

label {
    font-size: 18px;
    /*font-weight:thin;*/
}

row {
    padding: 10px;
}

.card {
    padding: 20px;
    background-color: aliceblue;
    /* box-shadow: 10px 10px 5px 5px grey;*/
    border-radius: 10px;
    box-shadow: 0 0 5px #999;
}

.card-body {
    padding: 20px;
}

.container {
    margin-top: 10px;
}
