@using React.Web.Mvc
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1 id="reactdiv"></h1>
    </div>
    <script src="~/Scripts/react/react.min.js"></script>
    <script src="@Url.Content("~/Scripts/App.jsx")"></script>
</body>


</html>
