
<footer style="        text-align: right;
        background-color: aqua;
        padding: 2px;
        margin: 10px 0 0 ;
        color: darkmagenta;
        font-family: cursive;
        position: sticky";>
    <p style="margin-right:10px">&copy; @DateTime.Now.Year - Designed & Developed by Pavan</p>
</footer>
