
<div class="container-fluid">
    <h1 style="text-align:center; vertical-align:middle; line-height:60px; background-color:chocolate; color:paleturquoise; font-family:cursive; margin:auto">Banking</h1>
</div>
@Scripts.Render("~/bundles/jquerybootstrap")
@Styles.Render("~/bundles/bootstrap3.7")