
@{
    ViewBag.Title = "SyncFileDrop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SyncFileDrop</h2>
<div class="container">
    <div class="row">
        <input type="file" id="myFile" name="filename" multiple>
    </div>
    <br />
    <div class="row">
        <input type="submit">
    </div>

   
</div>
